#spiralTime {
    /* min-width: 510px; */
    /* aspect-ratio: 1/1; */
    position: relative;
}
#spiralTime .hour {
    position: absolute;
    color: red;
    /* background-color: white; */
    border-radius: 50%;
    padding: 2px;
    /* display: none; */
}
#spiralTime svg {
    position: absolute;
}

.lll {
    transform: translate(0%, -100%);
}

#spiralTime #h0 {
    left: 275px;
    top: 265px;
}
#spiralTime #h1 {
    left: 290px;
    top: 315px;
}
#spiralTime #h2 {
    left: 225px;
    top: 245px;
}
#spiralTime #h3 {
    left: 335px;
    top: 220px;
}
#spiralTime #h4 {
    left: 350px;
    top: 330px;
}
#spiralTime #h5 {
    left: 230px;
    top: 365px;
}
#spiralTime #h6 {
    left: 165px;
    top: 265px;
}
#spiralTime #h7 {
    left: 235px;
    top: 160px;
}
#spiralTime #h8 {
    left: 370px;
    top: 175px;
}
#spiralTime #h9 {
    left: 420px;
    top: 295px;
}
#spiralTime #h10 {
    left: 345px;
    top: 410px;
}
#spiralTime #h11 {
    left: 215px;
    top: 420px;
}
#spiralTime #h12 {
    left: 120px;
    top: 335px;
}
#spiralTime #h13 {
    left: 125px;
    top: 195px;
}
#spiralTime #h14 {
    left: 215px;
    top: 105px;
}
#spiralTime #h15 {
    left: 360px;
    top: 105px;
}
#spiralTime #h16 {
    left: 450px;
    top: 195px;
}
#spiralTime #h17 {
    left: 465px;
    top: 335px;
}
#spiralTime #h18 {
    left: 390px;
    top: 450px;
}
#spiralTime #h19 {
    left: 260px;
    top: 485px;
}
#spiralTime #h20 {
    left: 125px;
    top: 440px;
}
#spiralTime #h21 {
    left: 60px;
    top: 325px;
}
#spiralTime #h22 {
    left: 65px;
    top: 185px;
}
#spiralTime #h23 {
    left: 145px;
    top: 75px;
}
#spiralTime #h24 {
    left: 280px;
    top: 40px;
}
/* ------------- */
#spiralTime .segments {
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    width: 480px;
    height: 490px;
    /* margin-left: 2px; */
    scale: 0.95;
}
#spiralTime .seg {
    position: absolute;
    scale: 1.4;
    /* opacity: 0; */
}
#spiralTime #s0 {
    top: 230px;
    left: 242px;
}
#spiralTime #s1 {
    top: 245px;
    left: 252px;
}
#spiralTime #s2 {
    top: 263px;
    left: 242px;
}
#spiralTime #s3 {
    top: 264px;
    left: 239px;
}
#spiralTime #s4 {
    top: 264px;
    left: 206px;
}
#spiralTime #s5 {
    top: 263px;
    left: 188px;
}
#spiralTime #s6 {
    top: 237px;
    left: 186px;
}
#spiralTime #s7 {
    top: 203px;
    left: 190px;
}
#spiralTime #s8 {
    top: 183px;
    left: 208px;
}
#spiralTime #s9 {
    top: 178px;
    left: 238px;
}
#spiralTime #s10 {
    top: 178px;
    left: 273px;
}
#spiralTime #s11 {
    top: 186px;
    left: 288px;
}
#spiralTime #s12 {
    top: 208px;
    left: 299px;
}
#spiralTime #s13 {
    top: 245px;
    left: 306px;
}
#spiralTime #s14 {
    top: 275px;
    left: 302px;
}
#spiralTime #s15 {
    top: 293px;
    left: 289px;
}
#spiralTime #s16 {
    top: 310px;
    left: 274px;
}
#spiralTime #s17 {
    top: 320px;
    left: 253px;
}
#spiralTime #s18 {
    top: 325px;
    left: 218px;
}
#spiralTime #s19 {
    top: 319px;
    left: 186px;
}
#spiralTime #s20 {
    top: 306px;
    left: 156px;
}
#spiralTime #s21 {
    top: 286px;
    left: 139px;
}
#spiralTime #s22 {
    top: 264px;
    left: 131px;
}
#spiralTime #s23 {
    top: 226px;
    left: 130px;
}
#spiralTime #s24 {
    top: 191px;
    left: 134px;
}
#spiralTime #s25 {
    top: 163px;
    left: 148px;
}
#spiralTime #s26 {
    top: 142px;
    left: 171px;
}
#spiralTime #s27 {
    top: 127px;
    left: 201px;
}
#spiralTime #s28 {
    top: 121px;
    left: 235px;
}
#spiralTime #s29 {
    top: 122px;
    left: 271px;
}
#spiralTime #s30 {
    top: 126px;
    left: 296px;
}
#spiralTime #s31 {
    top: 140px;
    left: 319px;
}
#spiralTime #s32 {
    top: 162px;
    left: 338px;
}
#spiralTime #s33 {
    top: 190px;
    left: 352px;
}
#spiralTime #s34 {
    top: 225px;
    left: 361px;
}
#spiralTime #s35 {
    top: 264px;
    left: 363px;
}
#spiralTime #s36 {
    top: 288px;
    left: 356px;
}
#spiralTime #s37 {
    top: 312px;
    left: 344px;
}
#spiralTime #s38 {
    top: 335px;
    left: 324px;
}
#spiralTime #s39 {
    top: 355px;
    left: 302px;
}
#spiralTime #s40 {
    top: 369px;
    left: 278px;
}
#spiralTime #s41 {
    top: 378px;
    left: 250px;
}
#spiralTime #s42 {
    top: 380px;
    left: 217px;
}
#spiralTime #s43 {
    top: 373px;
    left: 180px;
}
#spiralTime #s44 {
    top: 362px;
    left: 146px;
}
#spiralTime #s45 {
    top: 346px;
    left: 118px;
}
#spiralTime #s46 {
    top: 325px;
    left: 98px;
}
#spiralTime #s47 {
    top: 300px;
    left: 83px;
}
#spiralTime #s48 {
    top: 272px;
    left: 74px;
}
#spiralTime #s49 {
    top: 238px;
    left: 72px;
}
#spiralTime #s50 {
    top: 201px;
    left: 74px;
}
#spiralTime #s51 {
    top: 167px;
    left: 82px;
}
#spiralTime #s52 {
    top: 137px;
    left: 97px;
}
#spiralTime #s53 {
    top: 111px;
    left: 118px;
}
#spiralTime #s54 {
    top: 89px;
    left: 144px;
}
#spiralTime #s55 {
    top: 76px;
    left: 174px;
}
#spiralTime #s56 {
    top: 69px;
    left: 206px;
}
#spiralTime #s57 {
    top: 67px;
    left: 242px;
}
#spiralTime #s58 {
    top: 68px;
    left: 279px;
}
#spiralTime #s59 {
    top: 73px;
    left: 308px;
}
#spiralTime #s60 {
    top: 85px;
    left: 337px;
}
#spiralTime #s61 {
    top: 104px;
    left: 360px;
}
#spiralTime #s62 {
    top: 128px;
    left: 381px;
}
#spiralTime #s63 {
    top: 155px;
    left: 398px;
}
#spiralTime #s64 {
    top: 187px;
    left: 411px;
}
#spiralTime #s65 {
    top: 222px;
    left: 419px;
}
#spiralTime #s66 {
    top: 259px;
    left: 421px;
}
#spiralTime #s67 {
    top: 290px;
    left: 414px;
}
#spiralTime #s68 {
    top: 320px;
    left: 403px;
}
#spiralTime #s69 {
    top: 346px;
    left: 388px;
}
#spiralTime #s70 {
    top: 370px;
    left: 369px;
}
#spiralTime #s71 {
    top: 391px;
    left: 346px;
}
#spiralTime #s72 {
    top: 410px;
    left: 321px;
}
#spiralTime #s73 {
    top: 423px;
    left: 292px;
}
#spiralTime #s74 {
    top: 432px;
    left: 265px;
}
#spiralTime #s75 {
    top: 436px;
    left: 232px;
}
#spiralTime #s76 {
    top: 435px;
    left: 195px;
}
#spiralTime #s77 {
    top: 427px;
    left: 160px;
}
#spiralTime #s78 {
    top: 414px;
    left: 129px;
}
#spiralTime #s79 {
    top: 397px;
    left: 100px;
}
#spiralTime #s80 {
    top: 377px;
    left: 74px;
}
#spiralTime #s81 {
    top: 352px;
    left: 54px;
}
#spiralTime #s82 {
    top: 327px;
    left: 38px;
}
#spiralTime #s83 {
    top: 299px;
    left: 28px;
}
#spiralTime #s84 {
    top: 269px;
    left: 22px;
}
#spiralTime #s85 {
    top: 234px;
    left: 20px;
}
#spiralTime #s86 {
    top: 197px;
    left: 22px;
}
#spiralTime #s87 {
    top: 164px;
    left: 29px;
}
#spiralTime #s88 {
    top: 132px;
    left: 40px;
}
#spiralTime #s89 {
    top: 102px;
    left: 56px;
}
#spiralTime #s90 {
    top: 77px;
    left: 78px;
}
#spiralTime #s91 {
    top: 53px;
    left: 104px;
}
#spiralTime #s92 {
    top: 35px;
    left: 134px;
}
#spiralTime #s93 {
    top: 21px;
    left: 166px;
}
#spiralTime #s94 {
    top: 15px;
    left: 201px;
}
#spiralTime #s95 {
    top: 11px;
    left: 236px;
}
#spiralTime #s96 {
    top: 11px;
    left: 268px;
}
