#spiral {
    min-width: 540px;
    aspect-ratio: 1/1;
    position: relative;
}
#spiral .hour {
    position: absolute;
    color: red;
    /* background-color: white; */
    border-radius: 50%;
    padding: 2px;
    /* display: none; */
}
#spiral svg {
    position: absolute;
}

#spiral #h0 {
    left: 275px;
    top: 265px;
}
#spiral #h1 {
    left: 290px;
    top: 315px;
}
#spiral #h2 {
    left: 225px;
    top: 245px;
}
#spiral #h3 {
    left: 335px;
    top: 220px;
}
#spiral #h4 {
    left: 350px;
    top: 330px;
}
#spiral #h5 {
    left: 230px;
    top: 365px;
}
#spiral #h6 {
    left: 165px;
    top: 265px;
}
#spiral #h7 {
    left: 235px;
    top: 160px;
}
#spiral #h8 {
    left:370px;
    top: 175px;
}
#spiral #h9 {
    left: 420px;
    top: 295px;
}
#spiral #h10 {
    left: 345px;
    top: 410px;
}
#spiral #h11 {
    left: 215px;
    top: 420px;
}
#spiral #h12 {
    left: 120px;
    top: 335px;
}
#spiral #h13 {
    left: 125px;
    top: 195px;
}
#spiral #h14 {
    left: 215px;
    top: 105px;
}
#spiral #h15 {
    left: 360px;
    top: 105px;
}
#spiral #h16 {
    left: 450px;
    top: 195px;
}
#spiral #h17 {
    left: 465px;
    top: 335px;
}
#spiral #h18 {
    left: 390px;
    top: 450px;
}
#spiral #h19 {
    left: 260px;
    top: 485px;
}
#spiral #h20 {
    left: 125px;
    top: 440px;
}
#spiral #h21 {
    left: 60px;
    top: 325px;
}
#spiral #h22 {
    left: 65px;
    top: 185px;
}
#spiral #h23 {
    left: 145px;
    top: 75px;
}
#spiral #h24 {
    left: 280px;
    top: 40px;
}
